<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<ul>
<% for(var i = 0;i<person.length;i++){%>
    <li><%=person[i].name%></li>
    <li><%=person[i].age%></li>
    <br> <br>
   <%}%>
</ul>
</body>
</html>